# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
PXT_Explained/.DS_Store
PXT_Explained/step_00/.DS_Store
PXT_Explained/step_00/main
PXT_Explained/step_00/main.dSYM/Contents/Info.plist
PXT_Explained/step_00/main.dSYM/Contents/Resources/DWARF/main
PXT_Explained/step_01/main
PXT_Explained/step_01/main.dSYM/Contents/Info.plist
PXT_Explained/step_01/main.dSYM/Contents/Resources/DWARF/main
.DS_Store
